<div class="container">
  <app-weekdays class="weekDays" [counter]="counter"></app-weekdays>
  <app-activities
    class="activitySection"
    *ngIf="counter !== 5"
    [activitiesDaily]="weekDaysT[currentDay].morning"
  ></app-activities>
  <app-activities
    class="activitySection"
    *ngIf="counter !== 5"
    [activitiesDaily]="weekDaysT[currentDay].evening"
  ></app-activities>
  <app-summary *ngIf="counter === 5"></app-summary>
  <app-navigation
    (updatedCounter)="onUpdateCounter($event)"
    (updatedNewActivity)="onUpdateNewActivity()"
  ></app-navigation>
</div>
